@keyframes new-product {
    0% {
        background: #fff;
    }
    25% {
        background: green;
    }
    50% {
        background: #fff;
    }
    75% {
        background: green;
    }
    100% {
        background: #fff;
    }
}

.new-product {
    animation-name: new-product;
    animation-direction: normal;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}